@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif; /* Apply Inter globally */
  text-align: center;
}
.text-shadow{
  text-shadow: 1px 1px 2px #2d2d2d;
}